<div class="main">
  <div class="container">

	    	<!--div class="message"--> 

			  <p><b>Receita bruta total do arquivo </b></p>
			  <p><%= @total_price %> R$</p>
			  <hr>
			<!--/div-->
	    
    	<%= button_to "Voltar", formularios_path, method: :get %>

  </div>
</div>