<div class="main">
  <div class="container">

  	
		<h2>Iniciando Desafio Ruby on Rails</h2>
    	
    	<p>Submeter arquivo e salvar no banco</p>
    	<br>

    	
    	<%= button_to "Listar dados", formularios_path, method: :get %>

  </div>
</div>